.chat-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.chat-header {
	height: 40px;
	min-height: 40px;
	background-color: #202c33;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 16px;
}
.contact-info {
	display: flex;
	align-items: center;
}
.contact-name {
	color: #e9edef;
	font-weight: 400;
	font-size: 18px;
	margin-left: 20px;
}

.contact-image-chat {
	width: 40px;
	height: 40px;
	margin: 0;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
}

.messages-display {
	flex-grow: 1;
	display: flex;
	flex-direction: column-reverse;
	background-color: #0c141a;
	overflow-y: scroll;
}

.empty-space {
	flex-grow: 1;
}
.message-display-bar {
	display: flex;
}

.message-container {
	display: flex;
	padding: 6px 7px 8px 9px;
	width: fit-content;
	max-width: 60%;
	height: fit-content;
	border-radius: 10px;
	margin: 3px 50px;
	justify-content: space-between;
	text-align: justify;
}

.outgoing {
	flex-direction: row-reverse;
}

.outgoing .message-container {
	background-color: #00a884;
}
.incoming .message-container {
	background-color: #202c33;
}
.message-content {
	color: #e9edef;
	font-size: 14px;
}
.message-timestamp {
	color: #ffffff99;
	font-size: 9px;
	display: flex;
	align-items: flex-end;
	margin-left: 5px;
}

.type-message-bar {
	background-color: #202c33;
	height: 60px;
	display: flex;
}

.type-message-bar input {
	border: none;
	background-color: #2a3942;
	flex-grow: 1;
	margin: 10px 0px 10px 60px;
	padding: 10px;
	border-radius: 10px;
}
.send-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	font-size: 30px;
	font-weight: 900;
	color: #8696a0;
}

.refresh {
	width: 50px;
	font-weight: 300;
}
input {
	color: #e9edef;
}
