.account-header {
	height: 120px;
	background-color: #202c33;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.header-contents {
	color: #e9edef;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.go-back {
	font-size: 25px;
	font-weight: bold;
	margin: 20px;
}

.header-contents p {
	color: #e9edef;
	font-size: 19px;
}

.account-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.account-image {
	height: 300px;
	width: 300px;
	background-image: URL("https://as2.ftcdn.net/v2/jpg/02/15/84/43/1000_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 200px;
	margin: 30px;
}

.account-page-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.account-info-container {
	flex-grow: 1;
	padding: 20px;
}

.account-form-container {
	margin: 60px 0px;
}

.field-name {
	color: #008069;
	font-size: 14px;
	margin-bottom: 20px;
}

.display-name-field {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon {
	color: #8696a0;
	font-weight: bold;
	font-size: 20px;
}

.edit-icon {
	transform: scaleX(-1);
	color: #8696a0;
	font-weight: bold;
	font-size: 20px;
}

.name-text,
input.user-form {
	color: #e9edef;
	font-weight: 400;
	font-size: 17px;
}

.display-name-form {
	display: flex;
}
input.user-form {
	background-color: transparent;
	border: none;
	padding: 0px 0px;
	font-stretch: 0;
}
.account-page-container form {
	border-bottom: #008069 2px solid;
}
.form-description {
	font-size: 14px;
	font-weight: 400;
	margin-top: 50px;
}
.logout {
	margin-top: 50px;
	text-align: center;
	color: rgb(164, 29, 29);
	font-size: 18px;
	font-weight: 400;
}
.logout:hover {
	color: rgb(131, 84, 84);
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.844);
}
@media (max-width: 850px) {
	.account-header {
		height: 60px;
		align-items: center;
	}
	.account-image {
		height: 200px;
		width: 200px;
	}
	.account-info-container {
		overflow-y: scroll;
		background-color: #111b21;
	}

	.account-form-container,
	.form-description {
		margin: 20px 0;
	}
	.field-name {
		margin: 30px 0px 10px 0px;
	}
	.logout {
		margin-top: 20px;
	}
}
