@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

.App {
	display: flex;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
/* mobile */
@media (max-width: 850px) {
	.desktop-only,
	.mobile-inactive {
		display: none !important;
	}
}
/* desktop */
@media (min-width: 850px) {
	.mobile-only {
		display: none !important;
	}
}
