body {
	margin: 0;
	font-family: "Roboto";
	overflow: auto;
	height: 100%;
	max-height: -webkit-fill-available;
}
html {
	overflow: hidden;
	height: 100%;
	max-height: -webkit-fill-available;
}

#root {
	display: flex;
	height: 100%;
	width: 100%;
}
