.sidebar-header {
	height: 60px;
	background-color: #202c33;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-info {
	display: flex;
	align-items: center;
}
.user-picture {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #e9edef;
	margin: 10px;
}
.user-name {
	color: #e9edef;
}
.settings-button {
	color: #8696a0;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}

.settings {
	display: flex;
}
@media (max-width: 850px) {
	.page-title-text {
		color: #e9edef;
		font-size: 24px;
		margin-left: 30px;
	}
}
